<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 정보</title>
</head>
<body>
<div class="container">
    <div>
        <table border="1" style="width:800px">
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>아이디</th>
                <th>성별</th>
                <th>email</th>
            </tr>
            </thead>
            <tbody style="text-align: center">
        <!--thymeleaf 식 for 문-->
        <!--MemberController 로 넘어가는 members-->
            <tr th:each="member : ${members}">
                <td th:text="${member.code}"></td>
                <td th:text="${member.name}"></td>
                <td th:text="${member.id}"></td>
                <td th:text="${member.sex}"></td>
                <!-- thymeleaf 에서 여러 문자를 합쳐서 출력하기 위해서 | | 를 사용하면 된다-->
                <td th:text="|${member.email}@${member.emaddress}|"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>