<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');

</style>
<head>
    <meta charset="utf-8">
    <title>H&J Project 회원가입</title>
    <link rel="stylesheet" href="/css/newregisters_style.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="signup-form">
    <form action="/members/new" method="post">
        <h2>회원가입</h2>
        <p class="hint-text">개인 정보</p>
        <div class="form-group">
            <input type="name" class="form-control" name="name" placeholder="이름" required="required">
        </div>
        <div class="form-group">
            <input name="email" type="text" id="email" placeholder="이메일"/>&#64;<input name="emaddress"  type="text" id="emaddress" ReadOnly="true"/>
            <select id="emailselect" onchange="SetEmailTail(emailselect.options[this.selectedIndex].value)" >
                <option value="notSelected">::선택하세요::</option>
                <option value="etc" id="etc">직접입력</option>
                <option value="naver.com">naver.com</option>
                <option value="nate.com">nate.com</option>
                <option value="google.com">google.com</option>
                <!--이메일 확인 스크립트-->
                <script th:inline="javascript">
								function SetEmailTail(emailValue) {
    								var email = document.all("email")    // 사용자 입력
    								var emailTail = document.all("emaddress") // Select box
									var esw = $("#etc1");
   	 								if ( emailValue == "notSelected" ){
										emailTail.readOnly = true;
										emailTail.value = '';
										alert("이메일을 선택or입력하세요  ");
									}
    								else if ( emailValue == "etc" ) {
    									emailTail.readOnly = false;
    									emailTail.value = "";
										emailTail.focus();
									}
									else {
    									emailTail.readOnly = true;
    									emailTail.value = emailValue;
									}
								}
                </script>
            </select>
            <p>성별:
                <input type="radio" name="sex" value="man">남
                <input type="radio" name="sex" value="woman">여
            <p/>
            <hr style="width:90%;height:1px;border:none;background-color:#C3C3C3;">
            <p class="hint-text">로그인 정보</p>
        </div>
        <div class="form-group">
            <input type="id" class="form-control" name="userid" placeholder="아이디" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="userpw" placeholder="비밀번호" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="비밀번호 확인"
                   required="required">
        </div>
        <div class="form-group">
            <label class="checkbox-inline"><input type="checkbox" required="required"> <a href="#">이용 약관</a> 에
                동의합니다</label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn">회원가입하기</button>
        </div>
    </form>
    <div class="text-center">계정이 있다면? <a href="/login">로그인하기</a></div>
</div>
</body>
</html>