<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');
</style>
<head>
    <meta charset="utf-8">
    <title>H&J Project 회원가입</title>
    <link rel="stylesheet" href="/css/newregisters_style.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

</head>

<body>
<div class="signup-form">
    <!--script 작업할때는 id 가 중요함!!-->
    <form action="/members/new" method="post" id="regForm" name="regForm" onsubmit="return fn_submitChk();">
        <script th:inline="javascript">
            function fn_submitChk(){

            <!--var idChk_val = $("#idChk").val();-->
            <!--Alert 는 스크립트 순서 그대로 나온다-->
            if(regForm.name.value == ""){
                regForm.name.focus();
                alert("이름을 입력해주세요");
                return false;
                }
            if($("#idChk").val() == "N"){
                regForm.userid.focus();
                alert("아이디 중복 확인이 필요합니다");
                return false;
                }
            if(regForm.userpw.value == ""){
                regForm.userpw.focus();
                alert("비밀번호를 입력해주세요");
                return false;
                }
            if(regForm.userpw.value != regForm.confirm_password.value){
                regForm.confirm_password.focus();
                alert("비밀번호가 일치하지 않습니다! 확인해주세용!");
                return false;
                }
            }
            </script>

        <h2>회원가입</h2>
        <p class="hint-text">개인 정보</p>
        <div class="form-group">
            <input type="text" class="form-control" id="name" name="name" placeholder="이름" required="required">
        </div>
        <div class="form-group">
            <input name="email" type="text" id="email" placeholder="이메일"/>&#64;<input name="emaddress"  type="text" id="emaddress" ReadOnly="true"/>
            <select id="emailselect" onchange="SetEmailTail(emailselect.options[this.selectedIndex].value)" >
                <option value="notSelected">::선택하세요::</option>
                <option value="etc" id="etc">직접입력</option>
                <option value="naver.com">naver.com</option>
                <option value="nate.com">nate.com</option>
                <option value="google.com">google.com</option>
                <!--이메일 확인 스크립트-->
                <script th:inline="javascript">
								function SetEmailTail(emailValue) {
    								var email = document.all("email")    // 사용자 입력
    								var emailTail = document.all("emaddress") // Select box
									var esw = $("#etc1");
   	 								if ( emailValue == "notSelected" ){
										emailTail.readOnly = true;
										emailTail.value = '';
										alert("이메일을 선택or입력하세요  ");
									}
    								else if ( emailValue == "etc" ) {
    									emailTail.readOnly = false;
    									emailTail.value = "";
										emailTail.focus();
									}
									else {
    									emailTail.readOnly = true;
    									emailTail.value = emailValue;
									}
								}
                </script>
            </select>
            <p>성별:
                <input type="radio" name="gender" value="man">남
                <input type="radio" name="gender" value="woman">여
            <p/>
            <hr style="width:90%;height:1px;border:none;background-color:#C3C3C3;">
            <p class="hint-text">로그인 정보</p>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="userid" name="userid" placeholder="아이디">
            <button type="button" id="idChk" onclick="fn_idChk();" value="N" >중복확인</button>
            <script th:inline="javascript">
            function fn_idChk(){

            <!--request 파라미터에 userid 를 넣어서 서버단으로 보냄-->
                var params = {
                userid : $("#userid").val()
                }

                $.ajax({
                    url : "/member/idChk", <!--데이터를 주고받을 주소-->
                    type : "post", <!--보내는 방식 get post-->
                    dataType : 'json', <!--서버로부터 받는 값의 데이터 형식-->
                    data : params, <!--보내는 데이터 형식?-->

                    <!--서버에서 데이터가 넘어오면 success 에 들어옴 이때 result는 서버에서 응답받아서 넘어온 데이터 -->

                    success : function(result){
                    <!--json 방식으로 넘어온 데이터는 key : value 형식이기 때문에 result.result 로 해야 값을 가져올 수 있음?-->
                    var idChk = result.result
                        if(idChk == false){
                            $("#idChk").attr("value", "N");
                            alert("중복된 아이디에용! 다른걸로 해주세요");

                        }else if(idChk == true){
                            $("#idChk").attr("value", "Y");
                            alert("사용가능한 아이디에용! 계속해주세요");

                        }else if(idChk == ""){
                            alert("아이디가 확인되지 않았습니다. 다시 시도해주세요");
                        }
                    }
                })
            }
            </script>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="userpw" placeholder="비밀번호" >
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="비밀번호 확인" >
        </div>
        <div class="form-group">
            <label class="checkbox-inline"><input type="checkbox" > <a href="#">이용 약관</a> 에 동의합니다</label>
        </div>
        <div class="form-group">
            <button type="submit" id="submit" class="btn">회원가입하기</button>
        </div>
    </form>
    <div class="text-center">계정이 있다면? <a href="/login">로그인하기</a></div>
</div>
</body>
</html>