@charset "utf-8";
@import url("fontawesome.css");
@import url("swiper.min.css");
@import url("init.css");

/*
//-----------------------------------------------------------------------------
//
//  HEADER
//
//-----------------------------------------------------------------------------
*/
.top-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.03), rgba(0,0,0,0.3)), url("https://steamcdn-a.akamaihd.net/steam/apps/261550/extras/1.jpg?t=1585943095");
}

.top-header .top {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
    background-color: #FFF;
    z-index: 1000;
}

.top-header .top h1 {
    background: url("../images/logo/h&j_logo3.png") no-repeat center / contain;
    width: 300px;
    height: 90px;
    margin-left: 50px;
}

.top-header .top .mobile-nav {
    display: none;
}

.top-header .top .mobile-nav a i {
    font-size: 30px;
}

.top-header .top nav ul {
    display: flex;
    height: 100%;
}

.top-header .top nav ul li:not(:last-child) {
    margin-right: 25px;
}

.top-header .top nav ul li {
    height: 100%;
    line-height: 80px;
}

.top-header .top nav ul li a {
    display: block;
    position: relative;
    height: 100%;
    font-size: 18px;
}

.top-header .top nav ul li a span {
    transition: all 0.3s;
}

.top-header .top nav ul li a span.bar {
    display: block;
    position: absolute;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color: #f9004d;
}

.top-header .top nav ul li a.active span{
    color: #f9004d;
}

.top-header .top nav ul li a.active span.bar {
    width: 100%;
}

.top-header .slogan-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-header .slogan-box h2 {
    font-size: 7vw;
    font-weight: bold;
    text-shadow: 0px 0px 10px #000;
}

.top-header .slogan-box h2 span {
    color: #FFF;
}

.top-header .slogan-box p {
    color: #FFF;
    font-size: 1.5vw;
    text-align: center;
    line-height: 1.5;
    text-shadow: 0px 0px 10px #000;
    max-width: 800px;
}

.top-header .slogan-box a {
    display: block;
    border: 2px solid rgb(238, 122, 54);
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(238, 122, 54);
    background: #FFF;

    box-shadow: 0px 8px 3px 3px #111;
    transform: translate(0, 0);

    transition: all 0.2s;
}

.top-header .slogan-box a:active {
    transform: translate(0, 8px);
    box-shadow: 0px 0px 3px 1px #111;
}

.mobile-nav .fa-times {
    display: none;
}

.mobile-nav.active .fa-times {
    display: inline-block;
    position: relative;
    z-index: 1001;
}

.mobile-nav.active .fa-bars {
    display: none;
}

.mobile-nav ul {
    position: fixed;
    top: 0;
    right: -60%;
    width: 60%;
    height: 100%;
    overflow-y: auto;
    background: #FFF;
    padding: 80px 20px 20px;
    z-index: 1000;
    transition: all 0.3s;
}
.mobile-nav ul li:not(:last-child) {
    margin-bottom: 15px;
}

.mobile-nav ul li a {
    display: block;
    padding: 10px 0;
}

.mobile-nav ul li a.active {
    border-bottom: 3px solid #F00;
}



.mobile-nav.active ul {
    right: 0;
}


@media(max-width: 1100px) {
    .top-header .top nav {
        display: none;
    }

    .top-header .top .mobile-nav {
        display: block;
    }
}

@media(max-width: 800px) {
    .top-header .slogan-box h2 span {
        font-size: 55px;
    }

    .top-header .slogan-box p {
        font-size: 20px;
        max-width: 100%;
        padding: 0 20px;
    }
}

/*
//-----------------------------------------------------------------------------
//
//  CONTENTS
//
//-----------------------------------------------------------------------------
*/
.contents-wrap > .container:nth-child(even){
    /*container:nte의 짝수번째 가지고 있는것들은 밑으 ㅣ색깔이다. n=넘버,th=짝수*/
    background-color: #f8f9fc;
}

.contents-wrap > .container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 120px 0;
}

.contents-wrap > .container > article  {
    max-width: 1260px;
    width: 100%;
}

.container > article h3 {
    font-size: 50px;
    font-weight: bold;
}

.container > article p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.8;
}

/*
//-----------------------------------------
//
//  newgame BOX
//
//-----------------------------------------
*/
.container.newgame-box ul {
    display: flex;
    flex-wrap: wrap;
}

.container.newgame-box ul li {
    /*
    flex: 1 1 33.333333333334%;
    */
    flex-basis: 33.3333333333333333334%;
    padding: 20px;
}

.container.newgame-box ul li a {
    position: relative;
    display: block;
    border-radius: 10px;
    min-height: 350px;
    padding: 20px;
    background: #F6F6F6;
}

.container.newgame-box ul li a:before {
    /*transition: all 0.3s; 를 할 경우 상단에 표시는 되나 올렸을때 opacity값이 글자만 변경됨*/
    content: '';
    display: block;
    position: absolute;/*a태그에 상단으로 올려버림*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;/*투명도 조절*/
    border-radius: 10px;

    transition: opacity 0.3s;

    background: rgb(255,255,255);
    background: linear-gradient(160deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.7819502801120448) 20%, rgba(252,34,34,0.5802696078431373) 30%, rgba(14,0,219,0.5410539215686274) 60%, rgba(0,0,0,0.7791491596638656) 80%, rgba(250,250,250,1) 100%);
 
}


.container.newgame-box ul li a i {
    position: relative;
    display: block;
    font-size: 48px;
    color: #f9004d;
    z-index: 1;

    transition: color 0.3s;
}

.container.newgame-box ul li a strong {
    position: relative;
    display: block;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    z-index: 1;

    transition: color 0.3s;
}

.container.newgame-box ul li a span {
    position: relative;
    display: block;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.8;
    z-index: 1;

    transition: color 0.3s;
}

.container.newgame-box ul li a:hover:before {
    opacity: 1;
}

.container.newgame-box ul li a:hover i,
.container.newgame-box ul li a:hover strong,
.container.newgame-box ul li a:hover span {
    color: #FFF;
}

@media(max-width: 800px) {
    .container.newgame-box ul li {
        flex-basis: 50%;
    }
}

@media(max-width: 600px) {
    .container.newgame-box ul li {
        flex-basis: 100%;
    }
}

/*
//-----------------------------------------
//
//  ABOUT BOX
//
//-----------------------------------------
*/
.container.about-box > article {
    display: flex;
    padding: 0 20px;
}

.container.about-box > div {
    flex: 1;
}

.container.about-box .person-box {
    position: relative;
    flex-basis: 40%;
    flex-shrink: 0;
    margin-right: 80px;
    background: url("../images/main/lol.png") no-repeat center / cover;
    min-height: 600px;
    border-radius: 10px;
}

.container.about-box .person-box img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.container.about-box .introduce-box > div:nth-child(2) {
    display: flex;
    margin-top: 50px;
}

.container.about-box .introduce-box > div:nth-child(2) div:not(:first-child) {
    margin-left: 10px;
}

.container.about-box .introduce-box > div:nth-child(2) div:not(:last-child) {
    margin-right: 10px;
}

.container.about-box .introduce-box h4 {
    font-size: 35px;
}

@media(max-width: 900px) {
    .container.about-box article {
        display: block;
    }

    .container.about-box article > div {
        width: 100%;
    }

    .container.about-box .person-box {
        margin-right: 0;
    }

    .container.about-box .introduce-box {
        margin-top: 40px;
    }
}

@media(max-width: 600px) {
    .container.about-box .introduce-box > div:nth-child(2) {
        display: block;
    }

    .container.about-box .introduce-box > div:nth-child(2) > div {
        margin-left: 0 !important;
        margin-right: 0 !important;/*아까 줬던 selector보다 우선순위에서 밀린다. 그래서 !important를 주게 된다면 우선순위를 무시하고 주게된다.*/
        margin-top: 30px
    }
}
/* contant me가 slogan 등등이 적용이 안되어있다. slogan을 slogon으로 침*/

/*
//-----------------------------------------
//
//  GALLERY BOX
//
//-----------------------------------------
*/
.container.gallery-box article {
    padding: 0 20px;
}

.container.gallery-box .swiper {
    width: 100%;
    margin-top: 50px;
}

.container.gallery-box .swiper-container {
    width: 100%;
    height: 500px;
}

.container.gallery-box .swiper-container .swiper-slide > div {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-radius: 10px;
}

.container.gallery-box .swiper-container .swiper-slide > div img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.container.gallery-box .swiper-container .swiper-slide[data-swiper-slide-index='0'] > div {
    background-image: url("https://cdn2.unrealengine.com/egs-pathway-robotality-g2-002-1200x400-188355466.jpg");
}

.container.gallery-box .swiper-container .swiper-slide[data-swiper-slide-index='1'] > div {
    background-image: url("https://mblogthumb-phinf.pstatic.net/MjAxNzA0MTRfMjM3/MDAxNDkyMTcxNDI1NjY3.ETrHXLj6E9fTuMtvaOD2rZihaIj1FpiUHZER-w1C914g.pJqmrDctFeR38OA1-5ZidIS13cGlJHwWhH1qsNt7Qy0g.JPEG.sizzrustory/20170313202001_1.jpg?type=w2");
}

.container.gallery-box .swiper-container .swiper-slide[data-swiper-slide-index='2'] > div {
    background-image: url("https://steamcdn-a.akamaihd.net/steam/apps/34030/extras/NAPOLEON_FIRST.gif?t=1583944229");
}

.container.gallery-box .swiper-container .swiper-slide[data-swiper-slide-index='3'] > div {
    background-image: url("https://steamcdn-a.akamaihd.net/steam/apps/261550/extras/1.jpg?t=1589482699");
}

.container.gallery-box .swiper-container .swiper-slide[data-swiper-slide-index='4'] > div {
    background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/24780/ss_460b7f3fd46dc7f8172d70e172525ecb6d66ef7f.600x338.jpg?t=1551379837");
}

.container.gallery-box .swiper-container .swiper-slide[data-swiper-slide-index='5'] > div {
    background-image: url("../images/main/sigong.png");
}
.container.gallery-box .swiper-slide > div:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#961e6c+0,f98686+100&1+0,0.33+100 */
    background: rgb(255,255,255);
    background: linear-gradient(160deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.7819502801120448) 20%, rgba(252,34,34,0.5802696078431373) 30%, rgba(14,0,219,0.5410539215686274) 60%, rgba(0,0,0,0.7791491596638656) 80%, rgba(250,250,250,1) 100%);
   
    opacity: 0;
    transition: opacity 0.3s;    
}
.container.gallery-box .swiper-slide:hover > div:before {
    opacity: 1;
}

.container.gallery-box .swiper-slide .contents {
    position: relative;
    width: 100%;
    height: 100%;
}

.container.gallery-box .swiper-slide .contents strong,
.container.gallery-box .swiper-slide .contents p {
    color: #FFF;
    position: absolute;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: all 0.3s;
}

.container.gallery-box .swiper-slide .contents strong {
    display: block;
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
    top: 50%;
    margin-top: -14px;
    transform: translate( 0, -30px );
}

.container.gallery-box .swiper-slide .contents p {
    top: 50%;
    margin-top: 14px;
    transform: translate( 0, 30px );
}

.container.gallery-box .swiper-slide:hover .contents strong,
.container.gallery-box .swiper-slide:hover .contents p {
    opacity: 1;
    transform: translate( 0, 0 );
}

.container.gallery-box .swiper-slide:hover .contents p a {
    display: block;
    padding: 10px;
    color: #FFF;
    width: 40px;
    margin: 0 auto 0;
    text-align: center;
}


.container.gallery-box .swiper-slide:hover .contents p a i {
    color: #FFF;
}

/*
//-----------------------------------------------------------------------------
//
// review_board
//
//-----------------------------------------------------------------------------
*/
.container.review_board-box .resource-wrap {
    display: flex;
}

.container.review_board-box .resource-wrap > div {
    padding: 0 30px;
}

.container.review_board-box .resource-wrap div strong {
    display: block;
    text-align: center;
    /*원래 inline 속성 (strong)이지만 text align은 inline을 움직일수 없으니 적용이 되지 않는다.
    strong에게 주기 위해 block 태그를 주어서 inline태그를 block태그로 감싸줘서 움직일수 있게 한다.*/
    font-size: 80px;
    font-weight: bold;
    color: #f9004d;
}

.container.review_board-box .resource-wrap div strong sup {
    vertical-align: super;
    font-size: 50px;
    font-weight: bold;
    color: #f9004d;
}

.container.review_board-box .resource-wrap div p {
    text-align: center;
}

@media( max-width: 800px ) {
    .container.review_board-box .resource-wrap {
        display: block;
    }

    .container.review_board-box .resource-wrap > div:not(:last-child) {
        margin-bottom: 80px;
    }
}

/*
//-----------------------------------------------------------------------------
//
//  VEHICLE BOX
//
//-----------------------------------------------------------------------------
*/
.container.vehicle-box > article {
    padding: 0 20px;
}

.container.vehicle-box article > ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.container.vehicle-box article > ul > li {
    flex-basis: 33.333333333%;
    padding: 0 10px;
    height: 500px;
    overflow: hidden;
    /*넘치면 어떻게 보여질지 하는것 */
}
/*article 바로 아래있는 ul바로 아래 있는 li태그 중에서도 넓이는 33.33333(한줄에 세개 보임
    padding은 좌우로 10px의 크기를 갖는다. box-sizing을 border로 잡았으니 안쪽으로 10px임 */
.container.vehicle-box article > ul > li:nth-child( 3n + 1 ) {
    padding-left: 0;
    /*article 바로 아래있는 ul바로 아래 있는 li태그 4번째 마다 첫번째 칸 33.333으로 한줄에 세칸이 보이게 했으니 즉 4칸마다 padding을 줄 필요가 없으니 주지 않음*/
}

.container.vehicle-box article > ul > li:nth-child( 3n ){
    /*article 바로 아래있는 ul바로 아래 있는 li태그 3번째 칸 즉 맨 오른쪽 padding을 줄 필요가 없으니 주지 않음*/
    padding-right: 0;
}

.container.vehicle-box article > ul > li:nth-child( n + 4 ) {
    /*article 바로 아래있는 ul바로 아래 있는 li태그 중에 4번을 건너뛰고 마진 top을 20px씩 준다.*/
    margin-top: 20px;
}

/*박스 생성이 안됬음 박스 생성은...뭐였더라?*/
.container.vehicle-box article > ul > li > div {
    position: relative;
    border-radius: 10px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container.vehicle-box article > ul > li:nth-child(1) > div {
    background-image: url("../images/gif/multikill01.gif");
}
.container.vehicle-box article > ul > li:nth-child(2) > div {
    background-image: url("../images/mode/hoursecharjingstrongmode.gif");
}
.container.vehicle-box article > ul > li:nth-child(3) > div {
    background-image: url("../images/mode/runmode.png");
}
.container.vehicle-box article > ul > li:nth-child(4) > div {
    background-image: url("../images/mode/dmstlscj.png");
}
.container.vehicle-box article > ul > li:nth-child(5) > div {
    background-image: url("../images/mode/rltqkfahem.jpg");
}
.container.vehicle-box article > ul > li:nth-child(6) > div {
    background-image: url("../images/mode/wnrdmfruddn.png");
}

.container.vehicle-box article > ul > li img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.container.vehicle-box article > ul > li > div > div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.container.vehicle-box article > ul > li > div > div:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#961e6c+0,f98686+100&1+0,0.33+100 */
    background: rgb(255,255,255);
    background: linear-gradient(160deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.7819502801120448) 20%, rgba(252,34,34,0.5802696078431373) 30%, rgba(14,0,219,0.5410539215686274) 60%, rgba(0,0,0,0.7791491596638656) 80%, rgba(250,250,250,1) 100%);
   
    opacity: 0;
    transition: opacity 0.3s;
}

.container.vehicle-box article > ul > li > div:hover > div:before {
    opacity: 1;
}

.container.vehicle-box article > ul > li > div > div .sns-list {
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
}

.container.vehicle-box article > ul > li > div > div .sns-list li {
    opacity: 0;
    transform: translate( 0, 10px );
    transition-timing-function: cubic-bezier(.23,.88,.34,.99);
    transition: all 0.3s;
}

.container.vehicle-box article > ul > li > div > div .sns-list li:nth-child(1) {
    transition-delay: 0s;
}

.container.vehicle-box article > ul > li > div > div .sns-list li:nth-child(2) {
    transition-delay: 0.1s;
}

.container.vehicle-box article > ul > li > div > div .sns-list li:nth-child(3) {
    transition-delay: 0.2s;
}

.container.vehicle-box article > ul > li > div > div .sns-list li:not(:last-child) {
    margin-right: 10px;
}

.container.vehicle-box article > ul > li > div > div .sns-list li i {
    font-size: 22px;
    color: #FFF;
}

.container.vehicle-box article > ul > li > div > div .contents {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.container.vehicle-box article > ul > li > div > div .contents strong {
    display: block;
    font-size: 25px;
    font-weight: normal;
    color: #FFF;
    text-shadow: 0 0 5px #000;

    opacity: 0;
    transform: translate(0, -10px);
    transition: all 0.3s;
}

.container.vehicle-box article > ul > li > div > div .contents p {
    margin-top: 0px;
    font-size: 16px;
    color: #FFF;
    text-shadow: 0 0 5px #000;

    opacity: 0;
    transform: translate(0, 10px);
    transition: all 0.3s;
}

.container.vehicle-box article > ul > li > div:hover > div ul li {
    opacity: 1;
    transform: translate(0, 0);
}

.container.vehicle-box article > ul > li > div:hover > div .contents strong {
    opacity: 1;
    transform: translate(0, 0);
}

.container.vehicle-box article > ul > li > div:hover > div p {
    opacity: 1;
    transform: translate(0, 0);
}

@media(max-width: 800px) {
    .container.vehicle-box article > ul > li {
        flex-basis: 50%;
    }

    .container.vehicle-box article > ul > li:nth-child(odd) {
        padding-left: 0;
        padding-right: 10px;
    }

    .container.vehicle-box article > ul > li:nth-child(even) {
        padding-right: 0;
        padding-left: 10px;
    }

    .container.vehicle-box article > ul > li:nth-child(n + 3) {
        margin-top: 20px;
    }
}

@media(max-width: 600px) {
    .container.vehicle-box article > ul > li {
        flex-basis: 100%;
        padding: 0 !important;
    }

    .container.vehicle-box article > ul > li:not(:first-child) {
        margin-top: 20px;
    }
}

/*
//-----------------------------------------------------------------------------
//
// INTRODUCE BOX
//
//-----------------------------------------------------------------------------
*/
.container.introuduce-box blockquote {
    text-align: center;
    font-size: 18px;
}

.container.introuduce-box blockquote p {
    font-size: 24px;
}

.container.introuduce-box blockquote div i {
    display: block;
    background: url("../images/logo/taleworlds_logo.png") no-repeat center / contain;
    width: 86px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
}
/*
before를 이용하고 투명도를 조절해서 마우스를 올려놓을시에 색이 변화하도록 한다.*/
/*


/*
//-----------------------------------------------------------------------------
//
// GAME update BOX
//
//-----------------------------------------------------------------------------
*/
.container.update-box article {
    padding: 0 20px;
}

.container.update-box .swiper {
    width: 100%;
    margin-top: 50px;
}

.container.update-box .swiper-container {
    width: 100%;
    height: 500px;
}


.container.update-box .swiper .swiper-container .swiper-wrapper .swiper-slide .mountandblade{
    background-image: url(https://ww.namu.la/s/30558c5f09ddcb7f1278d824add87cb093efbe6d65120b689ff381971992226a6d8c5bb224e67717f97834c7deb5e7a1992bc664f542c56e5645592e25fc872a26db8905049029e64cf6700ec9da2e45a875ae04433ca462c721642057381ba0);

}
.container.update-box .swiper .swiper-container .swiper-wrapper .swiper-slide .civilization{
    background-image: url(https://ww.namu.la/s/22674a309668c1a0296c9e883bde10e64006ecdd893a7ebb7952aa27c74bf3320683a4ee79acaebefea0cb631c0e6bef790a107e487e24e55ad850637772781c69445e905c9334707cc44700d00267d94589bfbd9f8a59bea458e79c1afe62f354f623d440b8b5ced847766bae068521);

}
.container.update-box .swiper .swiper-container .swiper-wrapper .swiper-slide .sigong{
    background-image: url(../images/main_html/sigong.jpg);
}

.container.update-box .swiper .swiper-container .swiper-wrapper .swiper-slide .europa{
    background-image: url(../images/main_html/europa.jpeg);

}
.container.update-box .swiper .swiper-container .swiper-wrapper .swiper-slide .crusader{
    background-image: url(../images/main_html/crusader.jpeg);

}
.container.update-box .swiper .swiper-container .swiper-wrapper .swiper-slide .eveonline{
    background-image: url(../images/main_html/eveonline.jpg);

}

.container.update-box .swiper .swiper-container .swiper-wrapper .swiper-slide strong,
.container.update-box .swiper .swiper-container .swiper-wrapper .swiper-slide p{
    opacity: 0;
    transition: all 0.3s;
}
.container.update-box .swiper .swiper-container .swiper-wrapper .swiper-slide:hover strong,
.container.update-box .swiper .swiper-container .swiper-wrapper .swiper-slide:hover p{
    opacity: 1;
    transform: translate(0,0);
}


.container.update-box .swiper-slide {
    overflow: hidden;
}
.container.update-box .swiper .swiper-container .swiper-wrapper .swiper-slide{

} 

.container.update-box .swiper-slide > div {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container.update-box .swiper-slide > div img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.container.update-box .swiper-slide > div:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#961e6c+0,f98686+100&1+0,0.33+100 */
    background: rgb(255,255,255);
    background: linear-gradient(160deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.7819502801120448) 20%, rgba(252,34,34,0.5802696078431373) 30%, rgba(14,0,219,0.5410539215686274) 60%, rgba(0,0,0,0.7791491596638656) 80%, rgba(250,250,250,1) 100%);
   
    opacity: 0;
    transition: opacity 0.3s;
}
.container.update-box .swiper-slide[data-swiper-slide-index='0'] > div {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url('https://www.taleworlds.com/en/Games/Bannerlord');
}

.container.update-box .swiper-slide[data-swiper-slide-index='1'] > div {
    background-image:  linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url('../images/mount01.jpg');
}

.container.update-box .swiper-slide[data-swiper-slide-index='2'] > div {
    background-image:  linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url('../images/updates/003.jpg');
}

.container.update-box .swiper-slide[data-swiper-slide-index='3'] > div {
    background-image:  linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url('../images/updates/004.jpg');
}

.container.update-box .swiper-slide[data-swiper-slide-index='4'] > div {
    background-image:  linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url('../images/updates/005.jpg');
}

.container.update-box .swiper-slide[data-swiper-slide-index='5'] > div {
    background-image:  linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url('../images/updates/006.jpg');
}

.container.update-box .swiper-slide:hover > div:before {
    opacity: 1;
}

.container.update-box .swiper-slide .contents {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.container.update-box .swiper-slide .contents * {
    color: #FFF;
    font-size: 18px;
    display: block;
    margin: 0;
    line-height: 1.5;
}

.container.update-box .swiper-slide .contents span {
    font-size: 12px;
}

.container.update-box .swiper-slide .contents strong {
    font-size: 28px;
    font-weight: bold;
}
/*
//-----------------------------------------------------------------------------
//
// CONTACT ME BOX
//
//-----------------------------------------------------------------------------
*/
.container.contact-box article {
    display: flex;
    padding: 0 20px;
}

.container.contact-box article > div {
    flex: 1;
}

.container.contact-box .form-box {
    padding-right: 30px;
}

.container.contact-box .form-box fieldset label {
    display: block;
    width: 100%;
    border: 1px solid #888;
    background: #FFF;
    padding: 10px;
    border-radius: 5px;
}

.container.contact-box .form-box fieldset label:not(:last-child) {
    margin-bottom: 10px;
}

.container.contact-box .form-box fieldset label input,
.container.contact-box .form-box fieldset label textarea {
    width: 100%;
    background: none;
}

.container.contact-box .form-box fieldset label input,
.container.contact-box .form-box fieldset label textarea {
    border: none;
}

.container.contact-box .form-box fieldset label textarea {
    height: 300px;
    font-family: 'Noto Sans KR', sans-serif;
}

.container.contact-box .form-box input[type='submit'] {
    border: none;
    background: #f9004d;
    color: #FFF;
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 5px;
}

.container.contact-box .img-box {
    height: 100%;
    background: url("../images/bg/mountmain01.jpg") no-repeat center / cover;
    border-radius: 10px;
}

@media(max-width: 800px) {
    .container.contact-box article {
        flex-direction: column-reverse;
    }

    .container.contact-box .img-box {
        height: 500px;
        flex-basis: 500px;
    }
}

/*
//-----------------------------------------------------------------------------
//
// FOOTER
//
//-----------------------------------------------------------------------------
*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px;
    background: rgb(1, 15, 29);
}

footer .footer-sns-list {
    display: flex;
}

footer .footer-sns-list li:not(:last-child) {
    margin-right: 15px;
}

footer .footer-sns-list li i {
    color: #FFF;
    font-size: 20px;
    line-height: 50px;
}

footer .footer-sns-list li a {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #FFF;
    text-align: center;
    border-radius: 50%;
    transform: scale(1, 1);
    transition: all 0.3s;
}

footer .footer-sns-list li a:hover {
    border: 1px solid #d62090;
    background-color: #d62090;
    transform: scale(1.2, 1.2);
}

footer h2 {
    background: url("../images/logo/taleworlds_logo.png") no-repeat center / contain;
    background-size: auto;
    width: 260px;
    height: 50px;
}

footer p {
    color: #FFF;
}

@media(max-width: 1000px) {
    footer {
        flex-direction: column;
    }

    footer .footer-sns-list {
        margin-top: 30px;
    }

    footer p {
        margin-top: 30px;
    }
}

/* 내가 수정한 것 -> 보류
button.logout {
     margin: 50px;
     display: block;
     border: 2px solid rgb(238, 122, 54);
     border-radius: 10px;
     padding: 15px;
     font-size: 20px;
     font-weight: bold;
     color: rgb(238, 122, 54);
     background: #FFF;
     box-shadow: 0px 8px 3px 3px #111;
     transform: translate(0, 0);
     transition: all 0.2s;

     cursor: pointer;
}*/

 .logout {
  margin: 50px;
  background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  cursor: pointer;
}
.logout span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.logout:before,
.logout:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.logout:before {
  height: 0%;
  width: 2px;
}
.logout:after {
  width: 0%;
  height: 2px;
}
.logout:hover{
   background: transparent;
  box-shadow: none;
}
.logout:hover:before {
  height: 100%;
}
.logout:hover:after {
  width: 100%;
}
.logout span:hover{
   color: rgba(2,126,251,1);
}
.logout span:before,
.logout span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background: rgba(2,126,251,1);
  transition: all 0.3s ease;
}
.logout span:before {
  width: 2px;
  height: 0%;
}
.logout span:after {
  width: 0%;
  height: 2px;
}
.logout span:hover:before {
  height: 100%;
}
.logout span:hover:after {
  width: 100%;
}